<menu>
<code class="menu" width="50%">
<!-- start div.MENUBAR -->
<div align="right" width="100%" class="menubar">
<!-- start div.MENU-CONTENT -->
<div id="menu-content">
<a class="menu-link" href="https://virufac.github.io/">
Index</a> | 
<a class="menu-link" href="https://virufac.github.io/writing/writing.html">
Writing</a> | 
<a class="menu-link" href="https://virufac.github.io/projects/projects.html">
Projects</a> | 
<a class="menu-link" href="https://virufac.github.io/education/education.html">
Education</a> | 
<a class="menu-link" href="https://virufac.github.io/self/self.html">
Self</a>

</div> <!-- end div.MENU-CONTENT -->
</div> <!-- end div.MENUBAR -->
</code> 
</menu>
