{% extends 'base.html' %}
{% block content %}
<h2 id="directory-heading">
<a class="dir-parent" href="https://virufac.github.io/index.html#directory-heading">index</a> / welcome<br>
</h2>

<code id="authorbox"> 
<!--<a href="https://virufac.github.io/index.html#directory-heading">..</a>-->
&nbsp;&nbsp;
</code>

<p>{{ content.helloworld }} (loaded from templates) and thank you for briefly departing from proprietary Web 2.0 to peruse my directory of pages. My name is
Shæn, and I am responsible for them as much as any person is singularly responsible for anything that has ever been
developed, open source and otherwise.</p>


<p class="quips">This directory will speak for itself.</p> 

<hr>

<h2 class="secondary-content" id="directory">
<a class="dir-parent" href="https://virufac.github.io/index.html#directory">
Root</a><span id="root-directory-heading">(Directory) :</span> <br>
</h2>

<code class="authorbox">
&nbsp;&nbsp;&nbsp;&nbsp;
<!--  -->
&nbsp;&nbsp;
</code>

<div>
<!-- DIRECTORY ENTRY BEGIN -->
<ul class="dir">
<li>


<!-- INDEX.HTML -->

<span class="root-directory-entry">
<a href="http://virufac.github.io/">
index<span class="reduce-font">.html</span>
</a>
</span>

</li>
<ul class="notice-icon">
<li>
<span class="root-directory-entry-descrip"">
Site root. This is where you currently are. It's good to be mindful of things like that, apparently.
</span><div id="refer">&nbsp;&nbsp;&nbsp;&nbsp;</div>
</li>
</ul>
</ul>
<!-- DIRECTORY ENTRY END/BEGIN -->

<hr class="short">
<ul class="dir">
<li>


<!-- WRITING/ -->

<span class="root-directory-entry">
<a href="http://virufac.github.io/writing/writing.html">
writing</a><span class="reduce-font">/writing.html</span>
</span>

</li>
<ul class="notice-icon">
<li>
<span class="root-directory-entry-descrip"">
Posts, essays, manifestoes, rants, stories, and graphomanic nonsense of a Dadaist quality. Words that I end up posting.
</span><div id="refer">&nbsp;&nbsp;&nbsp;&nbsp;</div>
</li>
</ul>
</ul>
<!-- DIRECTORY ENTRY END/BEGIN -->

<hr class="short">
<ul class="dir">
<li>


<!-- PROJECTS/ -->

<span class="root-directory-entry">
<a href="http://virufac.github.io/projects/projects.html">
projects</a><span class="reduce-font">/projects.html</span>
</span>

</li>
<ul class="notice-icon">
<li>
<span class="root-directory-entry-descrip"">
a portfolio and devblog of work that may already be abandonware! Feel free to fork or pull request.<br>
</span><div id="refer">&nbsp;&nbsp;&nbsp;&nbsp;</div>
</li>
</ul>
</ul>
<!-- DIRECTORY ENTRY END/BEGIN -->

<hr class="short">
<ul class="dir">
<li>


<!-- EDUCATION / -->

<span class="root-directory-entry">
<a href="http://virufac.github.io/education/education.html">
education</a><span class="reduce-font">/education.html</span>
</span>

</li>
<ul class="notice-icon">
<li>
<span class="root-directory-entry-descrip"">
Documentation on my self-taught curriculum of programming, infosec, open source, and technology; resources for newbies.<br>
</span><div id="refer">&nbsp;&nbsp;&nbsp;&nbsp;</div>
</li>
</ul>
</ul>
<!-- DIRECTORY ENTRY END/BEGIN -->

<hr class="short">
<ul class="dir">
<li>


<!-- SELF / -->

<span class="root-directory-entry">
<a href="http://virufac.github.io/self/self.html">
self</a><span class="reduce-font">/self.html</span>
</span>

</li>
<ul class="notice-icon">
<li>
<span class="root-directory-entry-descrip"">
Taking self as its only parameter, this Directory instance has few attributes: those being, links to my social media.<br>
</span><div id="refer">&nbsp;&nbsp;&nbsp;&nbsp;</div>
</li>
</ul>
</ul>
{% endblock %}
