<div class="footer">
<h5 id="terms">&nbsp;&nbsp;<small>License, Terms, Privacy</small></h5>
<code class="footer">

<p class="quips">All words written on these pages are my words. All rights reserved. </p> 

<p class="footer">All the code that is written and shared here, including the HTML and the CSS, is liscened under 

<license>
<a target="_blank" 
rel="noopener noreferrer" 
href="https://www.gnu.org/licenses/gpl-3.0.en.html">APGL 3.0 Affero GNU Public License</a>
</license>,

those terms, which can be found described in the respective repositories or in the source code itself.</p>

<p class="footer">I am not using cookies or attempting to log your usage of this website at all.</p> 

<p class="quips">GitHub probably is though.</p>

</code>
</div> 
